body {
  background-color: rgb(0, 0, 0);
  color: rgb(54, 255, 47);
  font-family: 'Russo One', sans-serif;
  font-size: 50px
}


button {
  background-color: rgb(54, 255, 47);
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Russo One', sans-serif;
}


.clockCase {
  挟效 肖小蝎
   笑孝校
}


.buttonCase {
  挟效 肖小蝎
   笑孝校
}

